<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>
	
	<body >
		<div style="text-align: right;">
			<a href="/app/er" style="text-decoration:none; font-style: italic; font-size: 40px; text-align: right; width: 90%;">ER Diagram</a>
		</div>
		<pre>	
			<%- ddl %>
		</pre>
	</body>
</html>
