<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	</head>

	<body>
		<div style="text-align: center;">
		<img src="/app/er.png" style="width:80%;"></src>
	</div>
	</body>
</html>
