<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylenoir.css">
  </head>
  <body style="background-image:url('../../images/bg-black.jpg')" >
  
    <h1 style='color: #FFFFF0;font-family: "Italiana", regular; font-size: 36px;  font-size: 100%; text-align: center;'><%= route %> <%= error %></h1>
    <h2 style='color: #FFFFF0;font-family: "Italiana", regular; font-size: 36px;  font-size: 100%; text-align: center;'><%= error.status %></h2>
</body>
</html>

