<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>lesfleurs</title>
	
	</head>
	
	<body style="background-color: #FFFFF0" >
		<div style="text-align: right;">
			<a href="/app/er" style="text-decoration:none; font-style: italic; font-size: 40px; text-align: right; width: 90%; color: black;">ER Diagram</a>
		</div>
		<pre>	
			<%- ddl %>
		</pre>
	</body>
</html>
