<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><%= title %></title>
	<link rel='stylesheet' href='../stylesheets/style.css' />
    </head>
    <body style="background-color: <%= backgroundcolor %>; background-image:url(<%= backgroundimage %>)">
        <a href="/app/home"><img class="icon"/></a>
        <h1 style="text-align:center">Access restricted.</h1>
    </body>
