body {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-size: cover;
}

a {
}

@font-face {
  font-family: 'Italiana';
  font-style: normal;
  font-weight: 400;
  src: local('Italiana'), local('Italiana-Regular'),
       url('../fonts/italiana-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/italiana-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* great-vibes-regular - latin */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'),
       url('../fonts/great-vibes-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/great-vibes-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}        
/* pinyon-script-regular - latin */
@font-face {
  font-family: 'Pinyon Script';
  font-style: normal;
  font-weight: 400;
  src: local('Pinyon Script'), local('PinyonScript'),
       url('../fonts/pinyon-script-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/pinyon-script-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}    

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 240px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  font-family: "Italiana", regular; font-size: 24px; 
}
.sidenav div {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  font-family: "Italiana", regular; font-size: 24px; 
}

.sidenav a:hover {
}

.sidenav li {
  list-style: none;
}

.main {
  padding: 0px 0px;
}

a {
  padding: 6px 8px 6px 16px;
  text-decoration: underline;
  font-size: 25px;
  display: block;
  font-family: "Italiana", regular; font-size: 24px; 
}

h2 {
  font-family: "Italiana", regular; font-size: 32px; 
}

a:hover {
}

input { 
    border: none;
    background: transparent;
    font-family: "Italiana", regular; font-size: 24px; color: #202020; text-align: center
}
input:focus {
    outline: none !important;
    border:1px solid 504848;
}
button { 
 

.btn, .form-control {
  /* reset user agent stylesheet */
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  appearance: none;

  /* make sure properties affecting height have same value */
  font-size: 1em;
  line-height: 1.2;
  padding: 0.5em var(--padding-x);
  border-width: 2px;
  border-style: solid;
}

/* button */
.btn {
  display: inline-flex;
  justify-content: center; /* center the content horizontally */
  align-items: center; /* center the content vertically */
  --padding-x: 1.2em;
  font-family: "Italiana", regular; font-size: 24px; color: #202020; text-align: center
}
